<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Draft</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    <p:button outcome="LoginPage" value="Logout" icon="ui-icon-star">
                     <f:param name="productId" value="10" />
                    </p:button>
                    <p:button outcome="NewMessage" value="COMPOSE" icon="ui-icon-star">
                     <f:param name="productId" value="10" />
                    </p:button>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    <h:form>
                         <h3 style="margin-top:0">Time Now</h3>
                         <p:clock />
                     </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <h:form>
                        <p:menu>
                            <p:submenu label="Resources">
                                <p:menuitem value="Inbox" outcome="Inbox"  />
                                <p:menuitem value="Draft" outcome="Draft" />
                                <p:menuitem value="Sent" outcome="Sent" />
                                <p:menuitem value="Archieved"  outcome="Archive" />

                            </p:submenu>

                        </p:menu>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <h:form id="form">

                        <p:dataTable id="checkboxDT" var="email" value="#{DraftSelectionView.emails}" selection="#{DraftSelectionView.selectedEmails}" rowKey="#{email.emailid}" style="margin-bottom:0">
                            <f:facet name="header">
                                Mailbox
                            </f:facet>
                            <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                            <p:column headerText="id">
                                <h:outputText value="#{email.emailid}" />
                            </p:column>
                            <p:column headerText="subject">
                                <h:outputText value="#{email.subject}" />
                            </p:column>
                            <p:column headerText="content">
                                <h:outputText value="#{email.content}" />
                            </p:column>
                            <p:column headerText="important">
                                <h:outputText value="#{email.important}" />
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton process="checkboxDT" update=":form:multiEmailDetail" icon="ui-icon-search" value="View" oncomplete="PF('multiEmailDialog').show()" />
                            </f:facet>
                        </p:dataTable>

                        <p:dialog header="Selected Emails" widgetVar="multiEmailDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="200">
                            <p:outputPanel id="multiEmailDetail" style="text-align:center;">
                                <ui:repeat value="#{DraftSelectionView.selectedEmails}" var="email">
                                    <h:outputText value="#{email.subject} - #{email.content}" style="display:block"/>
                                </ui:repeat>
                            </p:outputPanel>
                        </p:dialog>
                    </h:form>

                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

