<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>New Message</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
        
            <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    <p:button outcome="index" value="Exit" icon="ui-icon-star">
                     <f:param name="productId" value="10" />
                    </p:button>
                    <p:button outcome="Inbox" value="BACK" icon="ui-icon-star">
                     <f:param name="productId" value="10" />
                    </p:button>
                <p:button outcome="Draft" value="Add to Draft" icon="ui-icon-star">
                     <f:param name="productId" value="10" />
                    </p:button>
            </p:layoutUnit>
            
                <p:layoutUnit position="center">
                    
                    
                   TO : <p:inputText  size="90" />
                   <br />
                   CC :  <p:inputText size="90" />
                   <br />
                   BCC :  <p:inputText  size="90" />
                   <br />
                   Subject :  <p:inputText  size="90" />
                   <br />
                    <h:form>
                    <h3>Content</h3>
                         <p:inputTextarea rows="10" cols="90" counter="display" maxlength="1000" counterTemplate="{0} characters remaining." autoResize="false" />
                         <h:outputText id="display" />
                    </h:form>
                </p:layoutUnit>
        
            <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    
                <h:form>
                    <h3 style="margin-top:0">Time Now</h3>
                    <p:clock />
                </h:form>
            </p:layoutUnit>
        </p:layout>
        
    </h:body>
</html>

